@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html, body{
    background: #e9dfd3;
    font-family: 'Atma', cursive;

}

.header{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.menu{
    display: none;
}

.text1{
    color: black;
    float: center;
    margin: 6px;
    padding: 1px
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 3rem;
}

ul li a{
    padding: 0 16px;
    color: black;
    justify-content: space-between;
}

.boton{
    background: #CBACEB;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1.5rem;
}

.boton2{
    background: #aa95c59e;
    color: #ffffff;
    border-radius: 5px;
    margin: 10px;
}

.titulo{
    text-align: center;
    color: black;
    margin: 2rem;
}

.titulo2{
    text-align: center;
    margin-top: 5rem;
    color: black;
}

.linea{
    color: #aa95c58b;
}

.text{
    color: black;
    justify-content: space-between;
}

footer{
    background-color: #aa95c5a5;
}

.datos{
    align-items: center;
}

.logros{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
 /* Desktop */ 
@media only screen and (min-width: 680px) {
    nav{
        display: flex;
        align-items: center;
    }

    .menu {
        display: block;
        display: flex;
        align-items: center;
    }

    .menu ul {
        display: flex;
        list-style: none;
    }
    .menu li {
        margin-left: 1rem;
    }

}